numpy==1.24.3
pandas==2.0.2
scikit-learn==1.3.0
xgboost==1.7.6
lightgbm==4.0.0
shap==0.41.0
lime==0.2.0.1
optuna==3.2.0
imbalanced-learn==0.11.0
fairlearn==0.9.0
scipy==1.11.1
matplotlib==3.7.2
seaborn==0.12.2
joblib==1.3.1
tqdm==4.65.0
category_encoders==2.6.1
plotly==5.15.0
kaleido==0.2.1
openpyxl==3.1.2
alembic==1.18.4
category-encoders==2.6.1
cloudpickle==3.1.2
cmaes==0.13.0
colorama==0.4.6
colorlog==6.10.1
contourpy==1.3.2
cramjam==2.11.0
cycler==0.12.1
et_xmlfile==2.0.0
fairlearn==0.9.0
fastparquet==2026.3.0
fonttools==4.62.1
fsspec==2026.4.0
greenlet==3.5.0
ImageIO==2.37.3
imbalanced-learn==0.11.0
joblib==1.3.1
kaleido==0.2.1
kiwisolver==1.5.0
lazy-loader==0.5
lightgbm==4.0.0
lime==0.2.0.1
llvmlite==0.47.0
Mako==1.3.12
MarkupSafe==3.0.3
matplotlib==3.7.2
networkx==3.4.2
numba==0.65.1
numpy==1.23.5
openpyxl==3.1.2
optuna==3.2.0
packaging==26.2
pandas==2.0.2
patsy==1.0.2
pillow==12.2.0
plotly==5.15.0
pyarrow==24.0.0
pyparsing==3.0.9
python-dateutil==2.9.0.post0
pytz==2026.1.post1
PyYAML==6.0.3
scikit-image==0.24.0
scikit-learn==1.3.0
scipy==1.11.1
seaborn==0.12.2
shap==0.41.0
six==1.17.0
slicer==0.0.7
SQLAlchemy==2.0.49
statsmodels==0.14.6
tenacity==9.1.4
threadpoolctl==3.6.0
tifffile==2025.5.10
tomli==2.4.1
tqdm==4.65.0
typing_extensions==4.15.0
tzdata==2026.2
xgboost==1.7.6
